<%  include ../partials/main-header %>
</head>
<body>
 	<!--header end-->
	<% include ../partials/header %>
	<!--header end-->
 	
	<div class="breadcrumbs">
		<div class="container">
        	<div class="row">
          		<div class="col-lg-4 col-sm-4">
           			<h1 class="mainheading"><span>Contact Us</span></h1>
          		</div>
          		<div class="col-lg-8 col-sm-8">
            		<ol class="breadcrumb pull-right">
              			<li><a href="/">Home</a></li>
              			<li class="active">Contact Us</li>
    				</ol>
        		</div>
        	</div>
		</div>
	</div>
	
	<div class="container">
    	<div class="row">
        	<div class="col-lg-5 col-sm-5 address">
          		<section class="contact-infos">
            		<h4>Head Office</h4>
            		<address>
              <ul class="icons-list" STYLE="list-style:none;"><img src="images/head-ofce.jpg" class="img-responsive" style="padding:0 10px 10px 0;" alt="" align="left">
					<li style="height:101px;"><i class="fa fa-globe">&nbsp;</i> <strong>Address:</strong> Tenthmatrix Information Systems LTD 
Suite 608, Hamilton House, 
111 Marlowes, 
Hemel Hempstead,
Herts 
HP1 1BB UK</li>
</ul></address>
          </section>
          <section class="contact-infos">
            <h4>Registered Office</h4>
           <ul class="icons-list" style="padding-left:0px; list-style:none;">
					<li><i class="fa fa-globe">&nbsp;</i> <strong>Address:</strong> Tenthmatrix Information Systems LTD 
The Coach House 
77A MARLOWES 
HEMEL HEMPSTEAD 
HERTFORDSHIRE 
ENGLAND 
HP1 1LF UK<br>

Company No. 06597469</li>
</ul>
          </section>
          <section class="contact-infos">
            <h4>Contact Info</h4>
           
              <i class="icon-phone">
              </i>
              <ul class="icons-list" style="padding-left:0px; list-style:none;">
					<li><i class="fa fa-mobile"></i> <strong>Phone:</strong> 0207 118 7889</li>
<li><i class="fa fa-envelope-o"></i> <strong>Email:</strong> info@tenthmatrix.co.uk</li>
<li><i class="fa fa-envelope-o"></i>  <strong>UK Fax Number</strong>: 01442 450451</li></ul>

          </section>
		  <section class="contact-infos">
            <h4>Select Location</h4>
            <ul class="icons-list" style="padding-left:0px; list-style:none;">
					<li><a href="contact.php">Head Office UK</a></li>
<li><a href="contact-sydney.php">Sales Office Sydney</a></li>
<li><a href="contact-mohali-chandigarh.php">Support Centre Ambala Cantt</a></li>
</ul>

          </section>
		  
		  
        </div>
        <div class="col-lg-7 col-sm-7 address">
          <h4>
            Drop us a line so that we can hear from you
          </h4>
          <% if (typeof queryStr !== 'undefined' && queryStr !== null) {
    								if(queryStr.msg=="error") {	%>
									<div class="alert alert-danger alert-dismissable">
             							<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                						Oops! Please try after some time, we are having some technical issue. 
                					</div>
            						<% }
           							if(queryStr.msg=="success") {	%>
										<div class="alert alert-success alert-dismissable">
             								<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                							Thank you. Your message has been sent successfully!
            							</div>
            						<%	}
            					}	%>
          <div class="contact-form">
            <form id="ajax-contact-form" role="form" method="post" action="/contact/save">
              <div class="form-group">
                <label for="name">
                  Name
                </label>
                <input placeholder="" name="name" id="name" class="form-control" type="text">
              </div>
              <div class="form-group">
                <label for="email">
                  Email
                </label>
                <input placeholder="" name="email" id="email" class="form-control" type="text">
              </div>
              <div class="form-group">
                <label for="phone">
                  Phone
                </label>
                <input id="phone" name="phone" class="form-control" type="text">
              </div>
			  
			  
			  <div class="form-group">
                <label for="phone">
                  Subject
                </label>
                <input id="subject" name="subject" class="form-control" type="text">
              </div>
              <div class="form-group">
                <label for="phone">
                  Message
                </label>
                <textarea placeholder="" id="message" name="message" rows="10" class="form-control"></textarea>
              </div>
              <button class="btn btn-primary" type="submit">
                Submit
              </button>
            </form>

          </div>
        </div>
      </div>
      </div>


<div style="position: relative; top: 34px;">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2469.946453728743!2d-0.4723564999999884!3d51.75230269999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48764159202d5183%3A0xfd23dafc9353f466!2sHamilton+House%2C+111+Marlowes%2C+Hemel+Hempstead%2C+Hertfordshire+HP1+1BB%2C+UK!5e0!3m2!1sen!2sin!4v1422017137000" scrolling="no" marginheight="0" marginwidth="0" frameborder="0" height="300" width="100%"></iframe>
</div>
   	<!--footer start-->
    <% include ../partials/footer %>
    <!--footer end-->
    <script src="js/jquery.validate.js"></script>
    <script type="text/javascript">
$(document).ready(function(){
	$("#ajax-contact-form").validate({
		rules: {
			name: "required",
			email: {
				required: true,
				email: true
			},
			subject: "required",
			message: "required",
			captcha_code: "required",
			
		},
		messages: {
			name: "Please enter your name",
			email: {
				required: "Please enter your E-mail",
				email: "Please enter valid E-mail"
			},
			subject: "Please enter Subject",
			message: "Please enter Message",
			captcha_code: "Please enter Security Code",
		}
	});

});

</script>
  </body>
</html>